body {
  /* background-size:cover; */
  /* background-image:url("https://static.carthrottle.com/workspace/uploads/posts/2016/03/847b6d7224dbaafbe2589ef840d98099.jpg"); */
  text-align: center;

}

h3 {
  font-size: 3em;
  font-family: 'arial', serif;
  font-family: 'VT323', monospace;


}

nav a {
font-family: 'VT323', monospace;
}

p {
  border:2px light gray;

}


li {
  padding: 20px 20px 20px 20px;
}
